<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="false"
>
    <testsuites>
        <testsuite name="LeadRouter Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="LeadRouter Contract Tests">
            <directory>tests/Contract</directory>
        </testsuite>
        <testsuite name="LeadRouter Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
